body {
    padding: 0;
    margin: 0;
}

.Ebanner {
    background-color: #0c57b3;
}

a.banner-link {
    color: white;
}

a.banner-link:link {
    color: white;
}

/* visited link */
a.banner-link:visited {
    color: white;
}

/* mouse over link */
a.banner-link:hover {
    color: white;
    text-decoration: none;
}

/* selected link */
a.banner-link:active {
    color: white;
}

a.dash-mod {
    color: black;
}

a.dash-mod:link {
    color: black;
}

/* visited link */
a.dash-mod:visited {
    color: black;
}

/* mouse over link */
a.dash-mod:hover {
    color: black;
}

/* selected link */
a.dash-mod:active {
    color: black;
}