<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link href="{% static 'easysurfHome/styles.css' %}" rel="stylesheet">
    <title>Easy Surf</title>
</head>

<body style="overflow:hidden">
    <header class="row no-gutters">
        <div class="col d-flex Ebanner text-light ">
            <h1 class="px-3 text-center" style="font-size: 3rem"><a href="{% url 'home-dashboard' %}" class="banner-link">Easy
                    Surf</a></h1>
            <i class="bi bi-tsunami" style="font-size: 2.5rem"></i>
        </div>
        <div class="col Ebanner text-right">
            <h5 class="m-3"><a href="{% url 'logout' %}" class="banner-link" style="text-decoration:underline;">Log Out</a></h3>
        </div>
    </header>

    <div class="row">
        <div class="col-2 bg-primary text-light" style="min-height:100%; height:100vh;">
            <ul class="list-group list-group-flush text-center">
                <a href="{% url 'home-dashboard' %}">
                    <li class="list-group-item bg-primary"><i class="bi bi-house-door-fill text-white"
                            style="font-size: 30px"></i>
                    </li>
                </a>
                <a href="{% url 'update-info' %}" class="text-white">
                    <li class="list-group-item bg-primary">Personal Information</li>
                </a>
                <a href="#" class="text-white">
                    <li class="list-group-item bg-dark">Orientation Meeting</li>
                </a>
                <a href="{% url 'home-checklist' %}" class="text-white">
                    <li class="list-group-item bg-primary">Registration Checklist</li>
                </a>
                <a href="{% url 'fees-base' %}" class="text-white">
                    <li class="list-group-item bg-primary">Community Fees</li>
                </a>
                <a href="{% url 'surveys-home' %}" class="text-white">
                    <li class="list-group-item bg-primary">Questionnaire</li>
                </a>
                <a href="{% url 'event-list' %}" class="text-white">
                    <li class="list-group-item bg-primary">Events</li>
                </a>
                <a href="{% url 'issues-list' %}" class="text-white">
                    <li class="list-group-item bg-primary">Voting</li>
                </a>
                <a href="{% url 'visitors-list' %}" class="text-white">
                    <li class="list-group-item bg-primary">Visitor Information</li>
                </a>
                <a href="{% url 'clubs-home' %}" class="text-white">
                    <li class="list-group-item bg-primary">Clubs and Committees</li>
                </a>
            </ul>
        </div>

        <div class="col-10">
            <div class="row">
                <div class="col text-center">
                    <h1 class="display-4">Orientation Meeting</h1>
                </div>
            </div>
            <div class="row">
                <div class="col d-flex justify-content-center align-items-center" style="min-height:100%; height:75vh;">
                    <div
                        class="container text-center light-blue-bg rounded w-50 h-50 d-flex justify-content-center align-items-center p-4">

                        {% if submitted_orientation_date %}
                            <h3 class="text-dark">You have already selected {{ selected_date }} as your orientation date. If you would like, you may select a new date.
                            </h3>
                        {% else %}
                            <h3 class="text-dark">Please select the date you wish to have your orientation
                                meeting.
                            </h3>
                        {% endif %}

                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="date" name="orientation-date" id="orientation-date" class="mb-3">
                            <input type="submit" value="Submit" class="btn btn-dark">
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>