<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'easysurfHome/styles.css' %}">
    <title>Easy Surf</title>
</head>

<body style="overflow-x: hidden;">
    <header class="row no-gutters">
        <div class="col d-flex Ebanner text-light ">
            <h1 class="px-3 text-center" style="font-size: 3rem"><a href="{% url 'home-dashboard' %}" class="banner-link">Easy
                    Surf</a></h1>
            <i class="bi bi-tsunami" style="font-size: 2.5rem"></i>
        </div>
        <div class="col Ebanner text-right">
            <h5 class="m-3"><a href="{% url 'logout' %}" class="banner-link" style="text-decoration:underline;">Log Out</a></h3>
        </div>
    </header>

    <div class="row no-gutters">
        <div class="col-2 bg-primary text-light" style="min-height:100%; height:100vh;">
            <ul class="list-group list-group-flush text-center">
                <a href="{% url 'home-dashboard' %}">
                    <li class="list-group-item bg-primary"><i class="bi bi-house-door-fill text-white"
                            style="font-size: 30px"></i>
                    </li>
                </a>
                <a href="{% url 'update-info' %}" class="text-white">
                    <li class="list-group-item bg-primary">Personal Information</li>
                </a>
                <a href="{% url 'home-orientation' %}" class="text-white">
                    <li class="list-group-item bg-primary">Orientation Meeting</li>
                </a>
                <a href="{% url 'home-checklist' %}" class="text-white">
                    <li class="list-group-item bg-primary">Registration Checklist</li>
                </a>
                <a href="{% url 'fees-base' %}" class="text-white">
                    <li class="list-group-item bg-primary">Community Fees</li>
                </a>
                <a href="{% url 'surveys-home' %}" class="text-white">
                    <li class="list-group-item bg-primary">Questionnaire</li>
                </a>
                <a href="#" class="text-white">
                    <li class="list-group-item bg-dark">Events</li>
                </a>
                <a href="{% url 'issues-list' %}" class="text-white">
                    <li class="list-group-item bg-primary">Voting</li>
                </a>
                <a href="{% url 'visitors-list' %}" class="text-white">
                    <li class="list-group-item bg-primary">Visitor Information</li>
                </a>
                <a href="{% url 'clubs-home' %}" class="text-white">
                    <li class="list-group-item bg-primary">Clubs and Committees</li>
                </a>
            </ul>
        </div>

        <div class="col-10">
            <div class="row mb-3">
                <div class="col-11 text-center">
                    <h1 class="display-4">Events and Activities</h1>
                </div>
                <div class="col-1 text-center">
                    <!-- <a href="events-create.html" data-toggle="tooltip" data-placement="bottom"
                        title="Create new event"><i class="bi bi-plus-square" style="font-size: 3rem;"></i></a> -->
                </div>
            </div>

            <div class="card-columns">
                {% for post in events %}
                <div class="col">
                  <div class="card text-center">
                      <div class="card-header">
                          Featured
                      </div>
                      <div class="card-body">
                          <h5 class="card-title">{{post.title}}</h5>
                          <p class="card-text">{{post.content}}</p>
                          {% if user in post.subscribers.all %}
                            <a href="#" class="btn btn-dark">Registered!</a>
                          {% else %}
                            <a href="{% url 'event-eventdetail' post.id %}" class="btn btn-primary">View Event</a>
                          {% endif %}
                      </div>
                      <div class="card-footer text-muted">
                        {{post.event_date}}
                      </div>
                  </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>

</html>