<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy Surf | Personal Information</title>
</head>
{% block content %}
<body>
    <header>
        <h1>Personal Information</h1>
    </header>

    <form action="" method="POST">
        {% csrf_token %}
        <label for="fname">First Name</label>
        <input type="text" id="fname" name="fname">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lname">

        <label for="DOB">Date of Birth</label>
        <input type="date" id="DOB" name="DOB">

        <label for="email">Email Adress</label>
        <input type="email" id="email" name="email">

        <label for="phone">Phone Number</label>
        <input type="tel" id="phone" name="phone" placeholder="123-456-7890" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}">

        <label for="adress">Home Adress</label>
        <input type="text" id="adress" name="adress" placeholder="1234 John Street">

        <input type="submit" value="Update">
    </form>
</body>
{% endblock content %}
</html>